{{#if products.length}}
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
       {{#each products}}
        <div class="col">
          <div class="card shadow-sm">
            <img src={{image}} alt="card-image" class="rounded"/>
            <div class="card-body">
                <h3>{{title}}</h3>
              {{!-- <p class="card-text">{{description}}</p> --}}
              <div class="d-flex justify-content-between align-items-center">
                <p class="text-secondary bg-light rounded p-2 ">{{formatDate createdAt}}</p>
                <p class="text-body-secondary bg-light rounded p-2 fs-5">{{price}}.00$</p>
              </div>
            </div>
            <div class="card-footer">
                <div class="btn-group">
                    <a type="button" class="btn btn-sm btn-outline-secondary" href="/product/{{_id}}">View</a>
                    {{#if @root.token}}
                      {{#ifequal user @root.userId}}
                        <a type="button" class="btn btn-sm btn-outline-warning" href="/edit-product/{{_id}}">Edit</a>
                        <form action="/delete-product/{{_id}}" method="post">
                          <button type="submit" class="btn btn-sm btn-outline-danger" >Delete</button>
                        </form>
                      {{/ifequal}}
                    {{/if}}
                </div>
            </div>
          </div>
        </div>
        {{/each}}
    </div>
{{else}}
    <p>No Product</p>
{{/if}}


